
.navbar
{

    padding: 0px;
    margin: 0;
    vertical-align: bottom;
    font-size:1.25em;
}

.navbar-brand,.navbar-nav,.collapse,.navbar-collapse
{
    font-weight:bold;
    padding: 0;
    margin: 0;

}

.navbar-brand:hover
{
    color: #ffaa55;

}
.nav-item a:hover
{
    color: #ffaa55;
}

@media screen and (max-width: 650px) {

    .thumblist ul li
    {
	max-width:40%;
    }
}

@media (min-width: 650px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

